$orange: rgb(255,127,0);
$gray: rgb(194, 194, 194);

/*$lightOrange: lighter(#ffd473, 20%);*/

$lightOrange:#ffb873;

@import 'portfolio';

body {
    background: #fafafa;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: 'Varela Round', sans-serif;
    color: #333;
}


.contacts {
    li:hover {
        a {
            background-color: none !important;
        }
    }
    i {
        // cursor: pointer;
        color: white;

        &:hover {
            color: $gray;
        }
    }
}

.orange-inline {
    color: $orange;
}

h1, h2, h3, h4, h5, p {
    font-family: 'Varela Round', sans-serif;
}

h1 {
    color: $orange;
}

h2 {
    color: lighten($orange, 10%);
}

h3 {
    color: lighten($orange, 20%);
}

.navbar {
    background-color: $orange;
    border-color: darken($orange, 10%);
    color: white !important;

    .navbar-brand {
        color: white !important;
    }

    .navbar-nav li {

        a {
            color: white !important;
        }

        &.active {
            a {
                background-color: darken($orange, 10%) !important;
                color: white !important;
            }
        }

        &:hover {
            a {
                background-color: darken($orange, 10%) !important;
                color: white !important;
            }
        }
    }
}

#locandine {
    padding-top: 20px;
    padding-bottom: 20px;
}

#about {
    background-color: white;
}

#galleries {
    background-color: #f5f5f5;
}

#contacts {
    background-color: white;

    i {
        // cursor: pointer;
        color: $gray;

        &:hover {
            color: $orange;
        }
    }
}

.footer {
    background-color: $orange;
    border-top: 1px solid darken($orange, 10%);
    color: white;
}